Source: libslp-shortcut
Section: libs
Priority: optional
Maintainer: Sung-jae Park <nicesj.park@samsung.com>, Young-joo Park <yjoo93.park@samsung.com>
Build-Depends: debhelper (>= 5), libglib2.0-dev, dlog-dev, libsystemd-daemon-dev
Standards-Version: 3.7.2

Package: libslp-shortcut-0
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libglib2.0-0, libdlog-0
Description: Shortcut service supporting library (shared object)

Package: libslp-shortcut-dev
Section: libs
Architecture: any
Depends: libslp-shortcut-0 (= ${Source-Version})
Description: Shortcut (Add to home) service supporting library (development)
XB-Generate-Docs: yes 

Package: libslp-shortcut-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libslp-shortcut-0 (= ${Source-Version})
Description: Shortcut service supporting library (unstripped)




