Source: shortcut
Section: libs
Priority: optional
Maintainer: Sung-jae Park <nicesj.park@samsung.com>, Young-joo Park <yjoo93.park@samsung.com>
Build-Depends: debhelper (>= 5), libglib2.0-dev, dlog-dev
Standards-Version: 3.7.2

Package: libshortcut
Section: libs
Architecture: any
Provides: libslp-shortcut-0
Replaces: libslp-shortcut-0
Conflicts: libslp-shortcut-0
Depends: ${shlibs:Depends}, ${misc:Depends}, libglib2.0-0, libdlog-0
Description: Shortcut service supporting library (shared object)

Package: libshortcut-dev
Section: libs
Architecture: any
Depends: libshortcut (= ${Source-Version})
Provides: libslp-shortcut-dev
Replaces: libslp-shortcut-dev
Conflicts: libslp-shortcut-dev
Description: Shortcut (Add to home) service supporting library (development)

Package: libshortcut-dbg
Section: debug
Architecture: any
Provides: libslp-shortcut-dbg
Replaces: libslp-shortcut-dbg
Conflicts: libslp-shortcut-dbg
Depends: ${misc:Depends}, libshortcut (= ${Source-Version})
Description: Shortcut service supporting library (unstripped)

